__pycache__/
*.pyc
db.sqlite3
.env
*.log
# .gitignore
.env



# .gitignore

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Env
.env     
venv/
myenv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
